* {
    margin: 0px;
    color: white;
    font-size: 30px;
    font-family: "Archivo Black";
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    color: #b3b3b3;
    font-size: 20px;
    margin: 50px;
    border-left: 10px solid orange;
    padding-left: 20px;
}

body {
    /* background-color: #3B4252; */
    background-color: #0c0d11;
    /* background-color: black; */
}

h2 {
    font-size: 20px;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.flex_container_center_align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_container_justify_center {
    display: flex;
    justify-content: center;
}

.flex_container_justify_left {
    display: flex;
    justify-content: flex-start;
}

.flex_container_justify_center_vert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#portrait {
    height: 40vw;
    width: 40vw;
    position: absolute;
    z-index: -1;
    top: 50px;
    right: 0px;
}

#linkedin:hover, #github:hover {
    color: orange;
    text-decoration: underline;
}

#skills_list {
    margin-left: 50px;
    width: 55vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /* Enables wrapping to the next line */
    gap: 10px; /* Optional: Adds spacing between items */
}

.skills_list_template {
    height: 18px;
    flex: 0 1 auto; /* Adjusts to content width while allowing wrapping */
    padding: 10px; /* Adds padding around each skill */
    border-radius: 5px; /* Optional: Rounds the corners */
}

.skills_h1_template {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

#skill_vscode {
    background-color: #0078d7;
}
#skill_html {
    background-color: #e34c26;
}
#skill_css {
    background-color: #264de4;
}
#skill_javascript {
    background-color: #f0db4f;
}
#skill_typescript {
    background-color: #007acc;
}
#skill_python {
    background-color: #306998;
}
#skill_reactjs {
    background-color: #61DBFB;
}
#skill_nodejs {
    background-color: #3c873a;
}
#skill_json {
    background-color: #864586;
}
#skill_inkscape {
    background-color: #222222;
}
#skill_mysql {
    background-color: #00758F;
}
#skill_chartjs {
    background-color: #c56969;
}
#skill_matplotlib {
    background-color: #d39357;
}
#skill_numpy {
    background-color: #4d77cf;
}
#skill_pandas {
    background-color: #150458;
}
#skill_git {
    background-color: #F1502F;
}

@media (max-width: 1920px) {
    .heading_padding {
        height:50px;
        background-color: #0c0d11;
    }
    
    .grid_padding {
        height:100px;
        opacity: 0%;
    }
    
    #main_heading_div {
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: black;
        width: 100%;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #tristan_rodriguez {
        height: 100px;
        width: 178px;
        margin-left: 30px;
        margin-right: 20px;
        padding-right: 50px;
        border-right: 10px solid orange;
    }
    
    #menu {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    
    .menu_links {
        color: #b3b3b3;
    }
    
    .menu_links:hover {
        color: white;
    }
    
    .menu_template {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #fun_facts {
        margin-top: 30px;
        margin-left: 50px;
        width: 55vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }

    .fun_fact_template {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .fun_fact_template_h1 {
        font-size: 24px;
    }

    #coffees_this_month, #lines_of_code, #github_commits {
        color: orange;
    }

    #coffees_this_month::after, #lines_of_code::after, #github_commits::after {
        content: '|';
        color: white;
        position: relative;
        left: 2px; /* Adjust to align properly with text */
        top: -2px; /* Adjust to align properly with text */
        z-index: -1;
        animation: blink 0.7s steps(1) infinite;
    }
    
    @keyframes blink {
        50% { opacity: 0; }
    }

    .no-caret::after {
        display: none;
    }

    #portrait {
        height: 80vw;
        width: 40vw;
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 0px;
        transform: translate(0%,-50%);
    }

    #portrait_img {
        height: 80vw;
        width: 40vw;
    }

    #about_text {
        width: 50%;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: left;
    }
    
    .main_grid {
        margin-bottom: 100px;
        border-top: 5px solid white;
        display: grid;
        row-gap: 50px;
        grid-template-columns: 0px 1fr 5px 1fr 0px;
        grid-template-rows: 0px 100px minmax(1fr , 750px) minmax(1fr , 750px) minmax(1fr , 750px) minmax(1fr , 750px) minmax(1fr , 750px) minmax(1fr , 750px);
        background-color: #0c0d11;
    }
    
    .main_grid_midline {
        background-color: white;
        grid-column: 3/4;
        grid-row: 3/9;
    }
    
    .main_grid_template {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }
    
    .main_grid_template:nth-child(odd) {
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
    }
    
    .main_grid_template:nth-child(even) {
        margin-left: 50px;
    }
    
    #projects {
        margin-top: 75px;
        margin-bottom: 40px;
        grid-column: 2/5;
        grid-row: 2/3;
    }
    
    #projects_heading {
        font-size: 50px;
    }
    
    #project_1 {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    
    #project_2 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    #project_3 {
        grid-column: 4/5;
        grid-row: 5/6;
    }
    
    #project_4 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    #project_5 {
        grid-column: 4/5;
        grid-row: 7/8;
    }
    
    .template_project_heading {
        width: 300px;
        margin-left: 20px;
        text-align: center;
    }
    
    #cube_wireframe {
        height: 100px;
        width:100px
    }
    
    @keyframes cube_wireframe_hover{
        0% {
            height: 100px;
            width: 100px;
        }
    
        100% {
            height: 200px;
            width: 200px;
        }
    }
    
    @keyframes cube_wireframe_not_hover{
        0% {
            height: 200px;
            width: 200px;
        }
    
        100% {
            height: 100px;
            width: 100px;
        }
    }

    @keyframes signature_shrink{
        0% {
            height: 100px;
            width: 178px;
            border-right: 10px solid orange;
        }
    
        100% {
            height: 50px;
            width: 89px;
            border-right: 5px solid orange;
        }
    }
    
    @keyframes signature_grow{
        0% {
            height: 50px;
            width: 89px;
            border-right: 5px solid orange;
        }
    
        100% {
            height: 100px;
            width: 178px;
            border-right: 10px solid orange;
        }
    }
    
    @keyframes main_heading_div_shrink {
        0% {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    
        100% {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
    
    @keyframes main_heading_div_grow {
        0% {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    
        100% {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    
    #password_animation {
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: 5px solid white;
    }
    
    .chars {
        height: 30px;
        width: 20px;
        font-size: 20px;
    }
    
    @keyframes password_grow{
        0% {
            height: 30px;
            width: 200px;
        }
    
        100% {
            height: 60px;
            width: 230px;
        }
    }
    
    @keyframes password_shrink{
        0% {
            height: 60px;
            width: 230px;
        }
    
        100% {
            height: 30px;
            width: 200px;
        }
    }

    #calculator_icon {
        height: 100px;
        width:100px
    }

    @keyframes calc_icon_grow {
        0% {
            height: 100px;
            width: 100px;
        }
    
        100% {
            height: 200px;
            width: 200px;
        }
    }
    
    @keyframes calc_icon_shrink {
        0% {
            height: 200px;
            width: 200px;
        }
    
        100% {
            height: 100px;
            width: 100px;
        }
    }
    
    #city_icon {
        height: 100px;
        width: 100px;
    }
    
    @keyframes city_icon_grow {
        0% {
            height: 100px;
            width: 100px;
        }
    
        100% {
            height: 200px;
            width: 200px;
        }
    }
    
    @keyframes city_icon_shrink {
        0% {
            height: 200px;
            width: 200px;
        }
    
        100% {
            height: 100px;
            width: 100px;
        }
    }

    #audio_level_animation {
        height: 100px;
        width: 100px;
        margin-right: 50px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }

    .bars {
        height: 5px;
        width: 5px;
        background-color: white;
        border-radius: 5px;
    }
    
    #nav_link_about {
        margin-left: 50px;
        padding-top: 150px;
        text-align: left;
        font-size: 40px;
    }
    
    #cv_download {
        position: relative;
        top: 5vh;
        /* left: -10vw; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #cv_download_text {
        margin: 50px;
        border-radius: 5px;
        border: 5px solid orange;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        text-decoration: underline;
    }
    
    #cv_download_text:hover {
        border-radius: 5px;
        border: 5px solid #ffffff;
    }
    
    #footer {
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: black;
    }
    
    #contact {
        padding-left: 50px;
        padding-bottom: 25px;
        text-align: left;
    }
    
    .footer_divs {
        margin-left: 80px;
    }
    
    .footer_icons_template {
        margin-right: 20px;
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 1250px) {

    .heading_padding {
        height: 250px;
    }
    
    #main_heading_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #tristan_rodriguez {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        border-right: 0px;
    }
    
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 10px solid orange;
        height: 30px;
        padding-top: 10px;
        margin-top: 0px;
    }
    
    .menu_links {
        font-size: 20px;
    }
    
    .menu_template {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    #portrait {
        display: none;
    }

    #about_text {
        width: 85%;
    }

    .main_grid:not(#project_1, #project_2, #project_3, #project_4) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main_grid_template {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #projects {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    
    #projects_heading {
        font-size: 40px;
    }
    
    .template_project_heading {
        margin-left: 0px;
    }
    
    #cube_wireframe {
        height: 75px;
        width:75px
    }
    
    @keyframes cube_wireframe_hover{
        0% {
            height: 75px;
            width: 75px;
        }
    
        100% {
            height: 150px;
            width: 150px;
        }
    }
    
    @keyframes cube_wireframe_not_hover{
        0% {
            height: 150px;
            width: 150px;
        }
    
        100% {
            height: 75px;
            width: 75px;
        }
    }

    @keyframes signature_shrink{
        0% {
            height: 100px;
            width: 178px;
            border-right: 0px
        }
    
        100% {
            height: 50px;
            width: 89px;
            border-right: 0px
        }
    }
    
    @keyframes signature_grow{
        0% {
            height: 50px;
            width: 89px;
            border-right: 0px
        }
    
        100% {
            height: 100px;
            width: 178px;
            border-right: 0px
        }
    }
    
    @keyframes menu_shrink {
        0% {
            border-top: 7.5px solid orange;
            margin-top: 20px;
            margin-bottom: 0px;
        }
    
        100% {
            border-top: 5px solid orange;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    
    @keyframes menu_grow {
        0% {
            border-top: 5px solid orange;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    
        100% {
            border-top: 7.5px solid orange;
            margin-top: 20px;
            margin-bottom: 0px;
        }
    }
    
    #password_animation {
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: 5px solid white;
    }
    
    .chars {
        height: 30px;
        width: 20px;
        font-size: 20px;
    }
    
    @keyframes password_grow{
        0% {
            height: 30px;
            width: 200px;
        }
    
        100% {
            height: 60px;
            width: 250px;
        }
    }
    
    @keyframes password_shrink{
        0% {
            height: 60px;
            width: 250px;
        }
    
        100% {
            height: 30px;
            width: 200px;
        }
    }

    #calculator_icon {
        height: 75px;
        width:75px
    }

    @keyframes calc_icon_grow {
        0% {
            height: 75px;
            width: 75px;
        }
    
        100% {
            height: 150px;
            width: 150px;
        }
    }
    
    @keyframes calc_icon_shrink {
        0% {
            height: 150px;
            width: 150px;
        }
    
        100% {
            height: 75px;
            width: 75px;
        }
    }
    
    #city_icon {
        height: 75px;
        width: 75px;
    }
    
    @keyframes city_icon_grow {
        0% {
            height:75px;
            width: 75px;
        }
    
        100% {
            height: 150px;
            width: 150px;
        }
    }
    
    @keyframes city_icon_shrink {
        0% {
            height: 100px;
            width: 100px;
        }
    
        100% {
            height: 75px;
            width: 75px;
        }
    }

    #audio_level_animation {
        margin-right: 0px;
    }
    
    #nav_link_about {
        margin-left: 0px;
        padding-top: 150px;
        font-size: 40px;
        text-align: center;
    }
    
    #contact {
        padding-left: 40px;
        padding-bottom: 25px;
    }
    
    .footer_divs {
        margin-left: 40px;
        margin-bottom: 30px;
    }

    #contact_options {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
}