* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}

body {
    background-color: #23323b;
}

button {
    background-color: #23323b;
    padding: 20px;
    border: 5px solid #71b9a7;
}

.flex_container_center_align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display_screen {
    border-radius: 20px;
    border: 10px solid #71b9a7;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 30px;
    min-height: 75px;
    width: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    border: 5px solid #71b9a7;
}

#button1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

/* #button1:hover {
    background-color: #425d6d;
} */

#button2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

/* #button2:hover {
    background-color: #425d6d;
} */

#button3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

/* #button3:hover {
    background-color: #425d6d;
} */

#button4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

/* #button4:hover {
    background-color: #425d6d;
} */

#button5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* #button5:hover {
    background-color: #425d6d;
} */

#button6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

/* #button6:hover {
    background-color: #425d6d;
} */

#button7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

/* #button7:hover {
    background-color: #425d6d;
} */

#button8 {
    grid-column: 2/3;
    grid-row: 3/4;
}

/* #button8:hover {
    background-color: #425d6d;
} */

#button9 {
    grid-column: 3/4;
    grid-row: 3/4;
}

/* #button9:hover {
    background-color: #425d6d;
} */

#button0 {
    grid-column: 1/2;
    grid-row: 4/5;
}

/* #button0:hover {
    background-color: #425d6d;
} */

#button_decimal {
    grid-column: 2/3;
    grid-row: 4/5;
}

/* #button_decimal:hover {
    background-color: #425d6d;
} */

#button_equals {
    grid-column: 3/6;
    grid-row: 4/5;
}

/* #button_equals:hover {
    background-color: #425d6d;
} */

#button_plus {
    grid-column: 4/5;
    grid-row: 2/3;
}

#button_minus {
    grid-column: 5/6;
    grid-row: 2/3;
}

#button_multiply {
    grid-column: 4/5;
    grid-row: 3/4;
}

#button_divide {
    grid-column: 5/6;
    grid-row: 3/4;
}

#buttonclear {
    grid-column: 4/6;
    grid-row: 1/2;
}