body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#viewport {
    /* Maximise square in page */
    height: min(80vw, 80vh);
    width: min(80vw, 80vh);
    border: 2px solid black;
}

#controls_container {
    width: auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    gap: 10px;
}

#controls_up_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#controls_left_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
#controls_right_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
#controls_down_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
#controls_clear__container {
    display: flex;
    justify-content: center;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}
#controls_clear {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
}
.template_controls {
    cursor: pointer;
}
.template_controls:hover {
    opacity: 70%;
}
.template_controls_img {
    height: 48px;
    width: 48px;
}
@media (max-width: 800px) {
    #controls_clear {
        font-size: 4vw;
    }
}